{% extends 'tpls/_base.html' %}
{% block content %}
	<div class="pageheader">
		<div class="container">
			<h1>{{ page.title }}</h1>
		</div>
	</div>
	<div class="container bg-white py-3" style="border: 1px solid #DDD;">
		<div class="row">
			<div class="col-md-12">
				{% include 'tpls/_messages.html' %}

				{% if page.body %}
					{{ page.body | safe }}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block append_head %}
	{% if page.seo_keywords %}
		<meta name="keywords" content="{{ page.seo_keywords }}">
	{% endif %}

	{% if page.seo_description %}
		<meta name="description" content="{{ page.seo_description }}">
	{% endif %}
{% endblock %}