{% extends 'tpls/_base.html' %}
{% load humanize %}

{% block content %}
<!-- jumbotron -->
<div class="jumbotron">
	<div class="container">
		<h1 class="display-4">Hello, world!</h1>
		<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		<hr class="my-4">
		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</div>
</div>
<!-- cards -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>
</div>
{% endblock %}