{% extends "admin/index.html" %}
{% load i18n %}

{% block coltype %}row" style="width: auto; margin-right: 0px;{% endblock %}

{% block content_title %}
	<div style="width: -webkit-fill-available; width: -moz-available; width: -o-available; width: -o-fill-available;">
		<div class="col-md-12">{{ block.super }}</div>
	</div>
{% endblock%}

{% block content %}
	<div class="col-md-4">
		{{ block.super|escape }}
	</div>
	<style>
		.insight {
			display: flex;
		    flex-wrap: wrap;
    		justify-content: left;
    		align-items: stretch;
		}
		
		.my-display-4 {
			font-size: 1.5rem;
		    font-weight: 300;
		    line-height: 1.2;
		}

		.insight > .card {
			min-width: 20rem;
		    margin-right: 0.5rem;
    		margin-left: 0.5rem;
    		flex-grow: 1;
		}
		.font-size {
			font-size: 1.2rem;	
		}
	</style>
	<div class="col-md-8 insight">
		{% if perms.daira.view_individual %}
		<div class="card text-white bg-success mb-3">
		  <div class="card-header my-display-4">
		  	<a href="{% url 'admin:daira_individual_changelist' %}" class="text-white">
		  		<i class="fas fa-fw fa-users"></i> Individuals
		  	</a>
		  </div>
		  <div class="card-body">
		  	<table class="w-100">
		  		<tbody>
			  		<tr>
			  			<td><i class="fas fa-fw fa-male"></i> Males</td>
			  			<td>{{ insight.individual.male }}</td>
			  		</tr>
			  		<tr>
			  			<td><i class="fas fa-fw fa-female"></i> Females</td>
			  			<td>{{ insight.individual.female }}</td>
			  		</tr>
			  		<tr>
			  			<td><i class="fas fa-fw fa-wheelchair"></i> Handicapped</td>
			  			<td>{{ insight.individual.handicapped }}</td>
			  		</tr>
			  	</tbody>
		  	</table>
		  </div>
		</div>
		{% endif %}

		{% if perms.daira.view_mol7aka and user.is_superuser %}
		<div class="card text-white bg-dark mb-3">
		  <div class="card-header my-display-4">
		  	<a href="{% url 'admin:daira_mol7aka_changelist' %}" class="text-white">
		  		<i class="fas fa-fw fa-building"></i> Administrative attaches
		  	</a>
		  </div>
		  <div class="card-body display-4 text-left">
		    <table class="w-100">
				<tbody>
					<tr>
						<td><i class="fas fa-fw fa-building"></i> Total Administrative attaches</td>
						<td>{{ insight.mol7aka.count }}</td>
					</tr>
					<tr>
						<td><i class="fas fa-fw fa-user-tie"></i> Total employees</td>
						<td>{{ insight.mol7aka.employees }}</td>
					</tr>
				</tbody>
			</table>
		  </div>
		</div>
		{% endif %}

		{% if user.is_superuser %}
		<div class="card text-white bg-secondary mb-3">
		  <div class="card-header my-display-4">
		  	<a href="{% url 'admin:daira_job_changelist' %}" class="text-white">
		  		<i class="fas fa-fw fa-briefcase"></i> Top 10 Jobs
		  	</a>
		  </div>
		  <div class="card-body">
		  	<table class="w-100">
		  		<tbody>
		  			{% for job in insight.jobs %}
			  			<tr>
			  				<td>{{ job.job_name }}</td>
			  				<td><i class="fas fa-fw fa-user"></i> {{ job.dcount }}</td>
			  			</tr>
		  			{% endfor %}
		  		</tbody>
		  	</table>
		  </div>
		</div>
		{% endif %}

		{% if perms.daira.view_report %}
			{% if user.is_superuser %}
			<div class="card text-white bg-info mb-3">
			  <div class="card-header my-display-4">
			  	<a href="{% url 'admin:daira_report_changelist' %}" class="text-white">
			  		<i class="fas fa-fw fa-copy"></i> Reports
			  	</a>
			  </div>
			  <div class="card-body display-4 text-left">
				<div class="text-center">{{ insight.reports.count }}</div>
		      	<table class="w-100 mt-4">
		      		<thead>
		      			<tr>
		      				<th>{% trans "Administrative attaches" %}</th>
		      				<th>{% trans "Reports" %}</th>
		      			</tr>
		      		</thead>
		      		<tbody>
		      			{% for mok7aka in insight.reports.mol7akat %}
		    	  			<tr>
		    	  				<td>{{ mok7aka.name }}</td>
		    	  				<td>{{ mok7aka.total_reports }} <i class="fas fa-fw fa-copy"></i></td>
		    	  			</tr>
		      			{% endfor %}
		      		</tbody>
		      	</table>
			  </div>
			</div>
			{% else %}
			<div class="card text-white bg-info mb-3">
			  <div class="card-header my-display-4">
			  	<a href="{% url 'admin:daira_report_changelist' %}" class="text-white">
			  		<i class="fas fa-fw fa-copy"></i> Reports
			  	</a>
			  </div>
			  <div class="card-body display-4 text-center">
			    {{ insight.reports.count }}
			  </div>
			</div>
			{% endif %}
		{% endif %}

		{% if perms.sokna %}
			<div class="card text-dark bg-light mb-3">
			  <div class="card-header my-display-4"><i class="fas fa-fw fa-file"></i> Residential statements<br></div>
			  <div class="card-body">
				<table class="w-100">
					<tbody>
						<tr>
							<td>Approved</td>
							<td><span class="badge badge-success">{{ insight.residentials.approved }}</span></td>
						</tr>
						<tr>
							<td>Rejected</td>
							<td><span class="badge badge-danger">{{ insight.residentials.rejected }}</span></td>
						</tr>
						<tr>
							<td>Pending</td>
							<td><span class="badge badge-secondary">{{ insight.residentials.pending }}</span></td>
						</tr>
					</tbody>
				</table>
			  </div>
			</div>
		{% endif %}

<!-- 		<div class="card text-white bg-warning mb-3">
		  <div class="card-header my-display-4"><i class="fas fa-fw fa-robot"></i> Workers<br></div>
		  <div class="card-body display-4 text-center">
		    {{ workers }}
		  </div>
		</div> -->

	</div>
{% endblock %}


{% block sidebar %}

{% endblock %}