{% extends 'tpls/_base.html' %}
{% load humanize %}

{% block content %}
<div class="container mt-5">
	{% include 'tpls/_messages.html' %}	
	<div class="row">
		<div class="col-md-4">
			<div class="list-group">
			  <span class="list-group-item list-group-item-action disabled text-center">
			  	<img src="{{ user.profile.profile_image.url }}" alt="Avatar" class="rounded-circle mx-auto d-block">
			  	{% if user.first_name or user.last_name %}
				  	<span style="font-size: 1.8rem;">{{ user.first_name|title }} {{ user.last_name|title }}.</span><br>
				{% endif %}
			  	<span style="font-size: 1.8rem;">@{{ user.username }}</span><br>
			  	<small class="font-italic">User since {{ user.profile.created|naturaltime }}</small>
			  </span>
			  <a href="#" class="list-group-item list-group-item-action">
			    <i class="fas fa-list fa-fw"></i> Announcements
			  </a>
			  <a href="{% url 'account:profile' %}" class="list-group-item list-group-item-action {% if 'profile' in request.path %} active {% endif %}"><i class="far fa-user fa-fw"></i> Profile</a>
			  <a href="#" class="list-group-item list-group-item-action"><i class="far fa-life-ring fa-fw"></i> Support</a>
			  <a href="#" class="list-group-item list-group-item-action"><i class="far fa-question-circle fa-fw"></i> FAQ</a>
			</div>
		</div>
		<div class="col-md-8">
			{% block account_content %}
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}