{% load pages_tags %}
{% load extra_settings %}

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'daira:home' %}">{% get_setting "SITE_NAME" default="Logo" %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% main_menu %}

<!--           <li class="nav-item {% if 'home' in request.path  %} active {% endif %}">
            <a class="nav-link" href="{% url 'daira:home' %}">About</a>
          </li> -->
        </ul>
        <div class="ml-auto my-2 my-lg-0">
          <ul class="navbar-nav">
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>