{% extends "tpls/_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="container">
	<div class="row my-5 text-center">
		<div class="col-md-12">
			{% include "tpls/_messages.html" %}
			{% trans "You could follow your statement status using the following code:" %}<br>
			<span class="text-success" style="font-size: 1.9rem; font-weight: bold;">{{ code }}</span><br>
			<a href="{% url 'sokna:follow' %}" class="my-5">{% trans "Follow" %}{% if LANGUAGE_CODE == 'ar' %} ؟ {% else %} ? {% endif %}</a>
		</div>
	</div>
</div>
{% endblock %}